{% load static %}

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Products List</title>

    <link href="{% static 'css/products_list.css' %}" rel="stylesheet" />

</head>

<body>

    <div class="list-grid">
        {% for product in list %}
        <div class="list-item">
            <div class="item-img">
                <img src="{{product.product_image}}">
            </div>
            <div class="item-details">
                <div class="item-title">
                    <a href="/product/{{product.asin}}"> {{product.title|truncatewords:20}} </a>
                </div>
                <div class="item-price"> 
                    <span class="item-price-top">₹</span>
                    {{product.sell_price}}
                </div>
            </div>
            <a class="item-remove-btn" href="/delete/{{product.asin}}"> Delete </a>
        </div>
        {% endfor %}
    </div>

</body>

</html>