body {
    font-size: 21px;
    font-family: sans-serif;
}

.gridContainer {
    border: 1px solid red;
    display: grid;
    place-items: center;
    justify-content: center;
    min-height: 50rem;
}

.personalDetailDiv {
    display: grid;
    width: 40%;
    background-color: #fafafa;
    padding: 32px;
}

.personalDetailHeading {
    font-size: 24px;
    font-weight: bold;
    color: #11141c;
}
.div_first_name {
    float: left;
    width: 40%;
}

.div_last_name {
    padding-left: 10px;
    float: left;
    width: 50%;
}

.first_Name_Input .first_Name {
    width: 50% !important;
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

.label {
    margin-top: 24px;
    margin-bottom: -7px;
    opacity: 0.5;
    font-size: 12px;
    font-weight: 600;
    line-height: 1.33;
    letter-spacing: 0.45px;
    color: #11141c;
}

.labelData {
    width: 100%;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: hidden;
    background-color: #fafafa;
    font-size: 24px;
    font-weight: bold;
    line-height: 1.17;
    letter-spacing: 0.64px;
    color: #11141c;
}


.labelData:focus {
    outline: none;
}

::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    /* Firefox */
    opacity: 0.1;
    font-size: 24px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.17;
    letter-spacing: 0.64px;
    color: #11141c;
}

 :-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    opacity: 0.1;
    font-size: 24px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.17;
    letter-spacing: 0.64px;
    color: #11141c;
}

 ::-ms-input-placeholder {
    /* Microsoft Edge */
    opacity: 0.1;
    font-size: 24px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.17;
    letter-spacing: 0.64px;
    color: #11141c;
}

.btn_div {
    margin-top: 60px;
    display: grid;
    place-items: center;
    /* margin-left: 40px; */
    /* margin-bottom: 120px; */
}

.button {
    width: 123px;
    height: 56px;
    border-radius: 16px;
    font-size: 15px;
    font-weight: bold;
    line-height: 1.33;
    letter-spacing: 0.5px;
    color: #f8f8f8;
    border: none;
    cursor: pointer;
}
