<dialog data-modal data-id="{{product.id}}">
    <div class="container">
        <form class="form" action="/delete/{{product.id}}" method="post">
            {% csrf_token %}
            <div class="form__group">
                <p>Are you sure you want to delete the product?</p>
            </div>
            <div class="form__group text-center">
                <input class="btn btn-outline-danger" type="submit" value="Confirm" />
                <input class="btn btn-outline-dark" type="button" value="Cancel" data-close-modal />
            </div>
        </form>
    </div>        
</dialog>