{% extends '_base.html' %}
{% load static %} 

<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <title>Track it Down | Track your favorite products</title>

    {% block css %}
    <link href="{% static 'css/signin.css' %}"rel="stylesheet">
    {% endblock %}
</head>

<body>
    {% block content %}
    <div class="text-center">
        <form class="form-signin" action="" method="post">
            {% csrf_token %}
            <h1 class="h3 mb-3 font-weight-normal">Enter the Product URL</h1>
            <label for="inputURL" class="sr-only">Email address</label>
            <input type="url" name="inputURL" id="inputURL" autocomplete="false"
            class="form-control" placeholder="https://amazon.in/..." required autofocus>
            <br>
            <input class="btn btn-lg btn-primary btn-block" type="submit" value="Submit"/>
        </form>
    </div>
    {% endblock %}

</body>

</html>