{% extends '_base.html' %}
{% load static %} 

<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <title>Track it Down | Track your favorite products</title>

    {% block css %}
        <link rel="stylesheet" href="{% static 'css/index.css' %}">
    {% endblock %}
</head>

<body>
    {% block content %}
    <div class="input-block">
        <h3 class="div-title">Enter the Product URL</h3>
        <form action="" method="post">
            {% csrf_token %}
            <input type="url" name="inputURL" id="inputURL" autocomplete="false"
            class="form-control" placeholder="https://amazon.in/..." required autofocus>
            <br>
            <input type="submit" value="Add Product"/>
        </form>
    </div>
    {% endblock %}

</body>

</html>