.list-grid {
    display: grid;
    padding: 2rem;

    gap: 4rem;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}

.list-item {
    display: grid;
    justify-content: center;
    padding: 1rem;
    border: 1px solid limegreen;
    font-size: 1.2rem;
}

.item-title a {
    text-decoration: none;
    color: #007185;
}

.item-img {
    width: auto;
    max-height: 100%;
    border: 1px solid black;
}

.item-remove-btn {
    display: inline-block;
    color: white;
    background-color:#f44336;
    border-radius: 10px;
    width: 100%;
    height: 2rem;
    font-weight: bold;
    font-size: large;
    text-decoration: none;
    text-align: center;
    padding-top: 10px;
}