body {
    font-size: 14px;
    line-height: 20px;
}

.list-grid {
    display: grid;
    padding: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(320px, auto));
    box-sizing: border-box;
    gap: 16px;
}

.list-item {
    display: grid;
    place-items: center;
    width: 320px;
    padding: 2px 6px 6px;
    border: 1px solid #f5f5f5;
    font-size: 1.1rem;
}

.item-img {
    position: relative;
    margin-bottom: 8px;
    padding: 8px;
}

.item-details {
    line-height: 24px;
}

.item-title a {
    text-decoration: none;
    color: #0F1111;
    font-size: 16px;
}

.item-price {
    margin-top: 8px;
    box-sizing: border-box;
    font-size: 24px;
}

.item-price-top {
    position: relative;
    top: -.5em;
    font-size: 12px;
}


.item-remove-btn {
    align-self:flex-end;
    color: white;
    background-color:#f44336;
    border-radius: 10px;
    width: 100%;
    height: 2rem;
    font-weight: bold;
    font-size: large;
    text-decoration: none;
    text-align: center;
    padding-top: 10px;
}