{% load static %} 

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Products List</title>

    <link href="{% static 'css/products_list.css' %}" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

</head>
<body>
    <div class="list-group list-group-flush d-flex flex-column">
    {% for product in list %}
        <a href="#" class="list-group-item list-group-item-action flex-column align-items-start"> 
            <div class="align-middle">
                <img src="{{product.product_image}}" height="200" width="200"  class="img-thumbnail img-fluid mx-auto d-block">
            </div>
            <div class="align-middle">
                <h5 class="mb-1"> {{product.title}} </h5>
                <small> Rs. {{product.list_price}} </small>
            </div>
        </a>
    {% endfor %}
    </ul>
</body>
</html>