<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="theme-color" content="#712cf9">
  <title> Product Focus Page </title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

  <style>
    .card {
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      transition: 0.3s;
      width: 25%;
      border-radius: 5px;
      position: relative;
      margin-left: 40%;
    }

    .card:hover {
      box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    }

    img {
      border-radius: 5px 5px 0 0;
    }

    .container {
      padding: 2px 16px;
    }
  </style>
</head>

<body>

  <h2> {{ title }} </h2>

  <div class="card">
    <img src={{ imageURL }}  alt="Avatar" style="width:100%">
    <div class="container">
      <span> <b> {{ currentPrice }} </b> </span>
      <span> <small> {{ listPrice }} </small> </span>
    </div>
  </div>
</body>

</html>